/* - Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color: hsl(216, 12%, 8%);
}
@media screen and (max-width: 1440px) {
    .jumbotron {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
     /*.box-center {
        border-radius: 15px;
        width: 300px;
        height: 300px;
        position: relative; 
        background-color: hsl(213, 19%, 18%);
        text-align: start;
    } */
    .center {
        border-radius: 15px;
        width: 400px;
        height: 400px;
        /* position: relative; */
        background-color: hsl(213, 19%, 18%);
        text-align: start;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .center button{
              font-family: 'Overpass', sans-serif;
        font-weight: 700;
          border: none;
          margin-left: 10%;
          width: 80% ;
          height: 35px;
          border-radius: 20px;
          background-color: hsl(25, 97%, 53%);
          text-transform: uppercase;
          color: hsl(0, 0%, 100%) ;
      }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    .attribution {
        bottom: 0px;
        position: absolute;
    }
    img {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-top: 10px;
     

    }
    .star{
        border-radius: 50%;
        box-sizing: border-box;
        background-color:hsl(210, 4%, 21%);
        opacity: 1;
        margin-left: 10%;
        width: 40px;
        height: 40px;
        margin-top: 5%;
    
    }
    .rating {
        height: 50px;
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        padding-top: 10%;
        margin-bottom: 10% ;
    }
    .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        color: hsl(217, 12%, 63%);
        padding: 2px;
        box-sizing: border-box;
        background-color:hsl(210, 4%, 21%);
        border: none;
        font-family: 'Overpass', sans-serif;
        padding-left: 4%;
        padding-top: 3%;
        
        /* font: 32px Arial, sans-serif; */
    }
    
    .heading{
        margin-left: 10%;
        color: hsl(0, 0%, 100%);
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    p{
        margin-left: 10%;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        color:hsl(217, 12%, 63%) ;
    }
    /* span {
        
        /* height: 500px;
        width: 500px;
        background-color: hsl(216, 12%, 54%);
        border-radius: 50%;
        padding-right: 14px;
        border: 1px solid hsl(216, 12%, 54%); 
    } */
}